{% extends 'base.html' %}

{% block content %}
<h2>Edit Book</h2>
<h3> Edit a book already in stock</h3>
<br>
<form class="form" action="/books/{{ book.id }}" method="post">

        <label class="title" for="title">Title:</label>
        <input class="title-input" type="text" id="title" name="title" value="{{ book.title }}" required>

        <label class="author" for="author_id">Author:</label>
            <select class="author-input" id="author_id" name="author_id">
            {% for author in all_authors %}
            <option value="{{ author.id }}"
                {% if book.author.id == author.id %}
                selected="'selected" {% endif %}>
                {{ author.first_name }} {{ author.last_name }}</option>
            {% endfor %}
        </select>

        <label class="genre" for="genre">Genre:</label>
        <input class="genre-input" type="text" id="genre" name="genre" value="{{ book.genre }}" required>

        <label class="desc" for="description">Description:</label>
        <textarea class="desc-input" class="textarea-box" id="description" name="description" value="{{ book.description }}"
                  rows="5" cols="40" required>{{ book.description }}
        </textarea>

        <label class="stock" for="stock-quantity">Stock Quantity:</label>
        <input class="stock-input" type="number" min=0 id="stock-quantity" name="stock_quantity" value="{{ book.stock_quantity }}" required>

        <label class="buying" for="buying-cost">Buying Cost:</label>
        <input class="buying-input" type="number" min=1 id="buying-cost" name="buying_cost" value="{{ book.buying_cost }}" required>

        <label class="selling" for="retail-price">Retail Price:</label>
        <input class="selling-input" type="number" min=1 id="retail-price" name="selling_price" value="{{ book.selling_price }}" required>

        <button class="book-button" type="submit">Update Book</button>

</form>

{% endblock %}
