{% extends 'base.html' %}

{% block content %}
<h2>New Book</h2>
<h3> Add a new book to stock</h3>
<br>

<form class="form" action="/books" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Title">
    </div>

    <div>
        <label for="author_id">Author:</label>
            <select id="author_id" name="author_id">
            {% for author in all_authors %}
                {% if author.status == True %}
                <option value="{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</option>
            {% endif %}
            
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="genre">Genre:</label>
        <select id="genre" name="genre">
            <option value="Fantasy">Fantasy</option>
            <option value="Sci-Fi">Sci-fi</option>
    </select>
    </div>  
    <div>
    <label for="description">Description:</label>
    <textarea id="description" name="description" placeholder="Description"
              rows="5" cols="33" required>A brief description of the book...
    </textarea>
    </div>
    <div>
        <label for="stock_quantity">Stock Quantity:</label>
        <input type="number" min="1" id="stock_quantity" name="stock_quantity" required>
    </div>

    <div>
        <label for="buying_cost">Buying Cost:</label>
        <input type="number" min="1" id="buying_cost" name="buying_cost" required>
    </div>

    <div>
        <label for="selling_price">Retail Price:</label>
        <input type="number" min="1" id="selling_price" name="selling_price" required>
    </div>
<br><br>
    <div>
        <button type="submit">Add Book</button>
    </div>
</form>

{% endblock %}
