{% extends 'base.html' %}

{% block content %}
<h2>New Book</h2>
<h3> Add a new book to stock</h3>
<br>

<form class="form" action="/books" method="post">
        <label class="title" for="title">Title:</label>
        <input  class="title-input" type="text" id="title" name="title" required>

        <label class ="author" for="author_id">Author:</label>
            <select class="author-input" id="author_id" name="author_id">
            {% for author in all_authors %}
                {% if author.status == True %}
                <option value="{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</option>
            {% endif %}
            {% endfor %}
        </select>

        <label class="genre" for="genre">Genre:</label>
        <select class="genre-input" id="genre" name="genre">
            <option value="Fantasy">Fantasy</option>
            <option value="Sci-Fi">Sci-fi</option>
    </select>

    <label class="desc" for="description">Description:</label>
    <textarea class="desc-input" id="description" name="description"
              rows="5" cols="33" required>A brief description of the book...
    </textarea>

        <label class="stock" for="stock_quantity">Stock Quantity:</label>
        <input class="stock-input" type="number" min="1" id="stock_quantity" name="stock_quantity" required>

        <label class="buying" for="buying_cost">Buying Cost:</label>
        <input class="buying-input" type="number" min="1" id="buying_cost" name="buying_cost" required>

        <label class="selling" for="selling_price">Retail Price:</label>
        <input class="selling-input" type="number" min="1" id="selling_price" name="selling_price" required>

        <button class="book-button" type="submit">Add Book</button>

</form>

{% endblock %}
