{% extends 'base.html' %}

{% block content %}

<u><b>Book Details</u></b><br>
<b>Title:</b> {{ book.title }} <br>
<b>Author:</b> {{ book.author.name }} <br>
<b>Genre:</b> {{ book.genre }} <br>
<br>
<u><b>Description</u></b><br>
{{ book.description}} <br>
<br>
<u><b>More Information</u></b><br>
<b>Current Stock:</b> {{ book.stock_quantity }} <br>
<b>Buying Cost:</b> £{{ book.buying_cost }}.00 <br>
<b>Retail Price:</b> £{{ book.selling_price }}.00 <br>
<br>

<ul>
    <li>
        <a href="/books/{{ book.id }}/edit">Edit Book</a>
    </li>
    <li>
        <form action="/books/{{ book.id }}/delete" method="post">
            <input type="submit" value="Remove All Items From Stock">
        </form>
    </li>
</ul>

{% endblock %}


