{% extends 'base.html' %}

{% block content %}

<h2>{{ author.first_name }} {{ author.last_name }}</h2>
<br>

<div id= "author-status">
    Author Status: {% if author.status  == False %}
    <p id="inactive">INACTIVE - update status to active before placing orders/adding new books</p>
    {% else %}
    <p id="active">ACTIVE - orders can be placed and new books added to stock</p>
    <u>Books currently stocked</u>
    <ul>
        {% for book in book_list %}
            <li>{{ book.title }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>


<a class="add-link" href="/books/new">Add a new book to stock</a>
<br>
<a href="/authors/{{ author.id }}/edit">Edit Author</a>



{% endblock %}