{% extends 'base.html' %}

{% block content %}

<h2>View Books by Genre</h2>

<div id="genre-menu">
        <a href="/genres/fantasy"><img src="/static/images/fantasy_link.png" alt="A unicorn link to the fantasy genre page"
            width="400px"
            height="400px">
        </a>
        
        <a href="/genres/sci-fi"><img src="/static/images/scifi_link.png" alt="A flying saucer link to the sci-fi genre page"
            width="400px"
            height="400px">
        </a>
</div>

{% endblock %}

