#logo {
    text-align: center;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color:lightgray
}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 10px; 
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #b01823;
}

nav ul li a:hover {
    background-color: #ffcf60;
}

a {
    text-decoration: none;
    color: #b01823;
}

a:hover {
    background-color: #ffcf60;
}

h3 ul li{
    list-style: none;
}

.form{
    background-color: #ffcf60;
    display: grid;
    grid-template-areas: 
        'title title-input'
        'author author-input'
        'genre genre-input'
        'desc desc'
        'desc-input desc-input'
        'stock stock-input'
        'buying buying-input'
        'selling selling-input'
        'book-button book-button';
    width: 350px;
    margin: 0 auto;
    padding: 20px;
}

.title{
    grid-area: title;
}

.title-input{
    grid-area: title-input;
}

.author{
    grid-area: author;
}

.author-input{
    grid-area: author-input;
}

.genre{
    grid-area: genre;
}

.genre-input{
    grid-area: genre-input;
}

.desc{
    grid-area: desc;
}

.desc-input{
    grid-area: desc-input;
}

.stock{
    grid-area: stock;
}

.stock-input{
    grid-area: stock-input;
}

.buying{
    grid-area: buying;
}

.buying-input{
    grid-area: buying-input;
}

.selling{
    grid-area: selling;
}

.selling-input{
    grid-area: selling-input;
}

.book-button{
    grid-area: book-button;
}

.form button {
    font-family: 'Roboto Mono', monospace;
    background-color: transparent;
    border: none;
    color: #b01823;
    padding-left: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: none;
    cursor: pointer;
    
}

.form button:hover {
    text-decoration: underline;
}

.authors-form{
    background-color: #ffcf60;
    display: grid;
    grid-template-areas: 
        'firstname firstname-input'
        'lastname lastname-input'
        'status status-input'
        'author-button author-button';
    width: 350px;
    margin: 0 auto;
    padding: 20px;
}

.firstname{
    grid-area: firstname;
}

.firstname-input{
    grid-area: firstname-input;
}

.lastname{
    grid-area: lastname;
}

.lastname-input{
    grid-area: lastname-input;
    
}

.status{
    grid-area: status;
}

.status-input{
    grid-area: status-input;
}

.author-button{
    grid-area: author-button;
}

.authors-form button {
    font-family: 'Roboto Mono', monospace;
    background-color: transparent;
    border: none;
    color: #b01823;
    padding-left: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: none;
    cursor: pointer;
    
}

.authors-form button:hover {
    text-decoration: underline;
}
#genre-menu {
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#homepage{
    display: grid;
    grid-template-areas:
    'homepage-left homepage-right';
    grid-template-columns: 40% 60%;
    /* width: 80%; */
}

#homepage-left{
    display: grid;
    grid-template-areas:
    'out-of-stock-message'
    'low-stock-message';
}

#out-of-stock-message{
    text-align: center;
}

#low-stock-message{
    text-align: center;
}

#homepage-right p{
    text-align: justify;
}

#in-stock {
    color: green;
}

#low-stock {
    color: red;
}

#active {
    color: green;
}

#inactive {
    color: red;
}

.button {
    font-family: 'Roboto Mono', monospace;
    background-color: transparent;
    border: none;
    color: #b01823;
    padding-left: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: none;
    cursor: pointer;
}

.button:hover {
    background-color: #ffcf60;
}

footer{
    color: #b01823;
    font-size: 12px;
    text-align: center;
}