#logo {
    text-align: center;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color:lightgray
}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 10px; 
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #b01823;
}

nav ul li a:hover {
    background-color: #ffcf60;
}

a {
    text-decoration: none;
    color: #b01823;
}

a:hover {
    background-color: #ffcf60;
}
/* 
.add-link {
    margin: auto; 
} */

h3 ul li{
    list-style: none;
}

.form{
    background-color: #ffcf60;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: 150px 250px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px; */
    width: 350px;
    margin: 0 auto;
    padding: 20px;
}
/* 
.form div label {
    flex-grow: 1;
}

.form div input{
    flex-grow: 1;
} */

.form button {
    font-family: 'Roboto Mono', monospace;
    background-color: transparent;
    border: none;
    color: #b01823;
    padding-left: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: none;
    cursor: pointer;
}

.form button:hover {
    text-decoration: underline;
}


#genre-menu {
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#stock-warning {
    text-align: center;
}

#in-stock {
    color: green;
}

#low-stock {
    color: red;
}

#active {
    color: green;
}

#inactive {
    color: red;
}

.button {
    font-family: 'Roboto Mono', monospace;
    background-color: transparent;
    border: none;
    color: #b01823;
    padding-left: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: none;
    cursor: pointer;
}

.button:hover {
    background-color: #ffcf60;
}


/* .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  } */