<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasay Bazaar</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<!-- link to google font -->
</head>
<body>
<!-- main class ="flex flex--row" -->

<div id="logo"><img src="/static/images/logo.png" alt="Fantasy Bazaar Logo"
width="200px"
height="200px"></div>

<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/books">All Books</a>
        </li>
        <li>
            <a href="/authors">Authors</a>
        </li>
    </ul>
</nav>

<!-- section id='content' -->
    {% block content %}


    {% endblock %}
<!-- end section, end main -->
</body>
</html>